<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pg.autyzm.przyjazneemocje"
    android:sharedUserId="autyzm.pg">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="landscape">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
        android:name=".ActivityChoice"
        android:screenOrientation="landscape">
        <!--android:screenOrientation="landscape"-->
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

        </intent-filter>
    </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <!--android:screenOrientation="landscape"-->
            <intent-filter>
                <action android:name="pg.autyzm.przyjazneemocje.custom"/>
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity
            android:name=".AddMaterial"
            android:screenOrientation="landscape">
            <!--android:screenOrientation="landscape"-->

        </activity>
        <activity
            android:name=".configuration.LevelConfigurationActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".camera.MainCameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".camera.PictureActivity"></activity>

        <activity
            android:name=".configuration.MaterialForTestActivity"
            android:screenOrientation="landscape"/>

        <activity

            android:name=".chooseImages.ChooseImages"
            android:label="@string/title_choose_img"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name="pg.smile.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--category android:name="android.intent.category.DEFAULT" /-->
            </intent-filter>
        </activity>




    </application>

</manifest>